.character-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.character-table th,
.character-table td {
  border: 1px solid #070707;
  padding: 10px;
  text-align: left;
}

.character-table th {
  background-color: #d2e96b;
  font-weight: bold;
}

.character-table-image {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  /* ======%50 idi ====== */
}

.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
  cursor: pointer;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.pagination li.active {
  background-color: #9d35b8;
  color: rgb(43, 211, 172);
  font-weight: bold;
}

.pagination li:hover {
  background-color: #be3793;
}

.character-table {
  display: flex;
  /* Kapsayıcıyı Flexbox yap */
  justify-content: center;
  /* Yatayda ortalar */
  margin-top: 20px;
  /* Üstten boşluk ekler */
}

table {
  margin: 0 auto;
  /* Tabloyu ortalar */
  border-collapse: collapse;
  /* Çizgileri düzenler */
  width: 80%;
  /* Tablonun genişliğini belirler */
  text-align: left;
  /* Metni sola yaslar */
}

table th,
table td {
  padding: 10px;
  /* Hücrelere boşluk ekler */
  border: 1px solid #d36f7e;
  /* Hücre kenarlıkları */
}

table th {
  background-color: #f4f4f4;
  /* Başlık hücrelerinin arka planı */
  font-weight: bold;
  /* Başlıkları kalın yapar */
}

.title {
  text-align: center;
  /* Metni yatayda ortalar */
  margin-top: 20px;
  /* Üstten boşluk ekler */
  font-size: 2rem;
  /* Başlık boyutunu ayarlar (isteğe bağlı) */
}